body{
    background-color: ghostwhite;
    color: black;
    margin: 0;
}

.image{
    border-radius: 45px;
}

.sidebar{
    width: 250px;
    background-color: whitesmoke;
    border-right: 1px solid black;
    min-height: 100vh;
    padding: 32px 20px;
    position: fixed;
    display: flex;
}

.cl{
    display: flex;
    justify-content: center;
    color: black;
    border: 1px solid black;
    font-size: 30px;
    font-family: arial;
    padding-left: 160px;
}

.CVNav{
    border-bottom: 1px solid;
    padding-top: 60px;
}

.Home{
    background-color: 	#1B1212;

}

.Head{
    border: 1px solid lightgray;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.Port{
    color: Orange;
    font-size: 25px;
    padding-left: 15px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid purple;
    border-radius: 12px;
}

nav a:hover{
    color: red;
    border-color: orange;
    box-shadow: 0px 0px 47px 14px rgba(255, 0, 0, 0.65); /* box shadow tagen från https://elementor.com/tools/box-shadow-generator/?utm_term=&lang=&elem=CjwKCAjwq8PVBhAKEiwA2i3SHbfx0-qqpdV3PWAdBhaZcDgoICqIYvn35dpz-QhRjoFttPvFxwASzhoCFqAQAvD_BwE */
}

main{
    width: 90%;
    margin: auto;
}

.above{
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 20px 10px;
    min-height: 400px;
}

strong{
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.info2,
.info{
    color: #d0d0d0;
    letter-spacing: 0.5px;
    max-width: 700px;
    margin: 20px;
    padding: 20px;
}

.info:hover,
.info2:hover{
    border: 1px solid orange;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 3.5px orange;
}

#fang{
    width: 300px;
    height: 350px;
    object-fit: cover;
    border: 4px solid #ddd;
    border-radius: 18px;
    flex-shrink: 0;
}

.button{
    display: inline;
    color: orange;
    background-color: black;
    padding: 10px 18px;
    border: 1px solid purple;
    text-decoration: none;
    border-radius: 18px;
    margin-left: 200px;
}

.button:hover,
.button:active{
    box-shadow: 0px 0px 12px 3.5px orange;
    background-color: rgb(34, 30, 30);
    transform: scale(1);
}

.infocards{
    color: orange;
    padding: 40px 20px;
}

.infocards h2{
    
}